@font-face {
  font-family: 'Circular';
  font-weight: 400;
  src: url('../fonts/CircularStd-Book.woff') format('woff');
}
@font-face {
  font-family: 'Circular';
  font-weight: 600;
  src: url('../fonts/CircularStd-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Circular';
  font-weight: 700;
  src: url('../fonts/CircularStd-Bold.woff') format('woff');
}

body {
  font-size: 16px;
  background-color: $grey-1;
  color: $white;
  font-family: 'Circular', sans-serif;
}

a {
  text-decoration: none;
}

.main-content {
  h1,
  h2 {
    font-size: $font-size-8 !important;
    font-weight: 600;
    margin-top: 0.5rem;
  }
  h2 + ul > li::before {
    color: $yellow-0 !important;
  }
}

.search-input-wrap {
  box-shadow: none;
  border: 1px solid;
  &:focus-within {
    border-color: $yellow-0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
#toctitle {
  text-transform: lowercase !important;
  font-weight: 700;
  color: $white;
}

.main {
  max-width: 100%;
  #main-content {
    max-width: 50rem;
  }
}

#main-content {
  hr {
    display: none;
  }
  & ul > li::before {
    color: $white;
  }
  a {
    color: $yellow-0;
    text-decoration: none;
  }
}

blockquote {
  background-color: $grey-0;
  border-radius: 15px;
  padding: 1rem;
  font-size: $font-size-6;
  color: white;
  strong {
    font-weight: 700;
    font-size: $font-size-7;
    text-transform: lowercase;
  }
  ol > li::before {
    color: $white !important;
  }
}

.main-header {
  border-bottom: 0;
  background-color: $grey-0;
  .search-input {
    font-size: $font-size-4;
    background-color: $grey-0;
    color: $white;
    &::placeholder {
      color: $white;
    }
  }
}
.search-result:hover,
.search-result.active {
  background-color: $grey-1;
}

.search-active .search-results {
  background-color: $grey-0;
  color: $white;
  a {
    color: $yellow-0;
  }
  span {
    color: $white;
  }
}
.search-result-doc .search-result-icon,
.search-result-doc-title span {
  color: $yellow-0 !important;
}
.search-result-rel-url {
  font-size: $font-size-2 !important;
}
.main-content .anchor-heading svg {
  color: $yellow-0;
}

.search-label .search-icon,
.search-result-highlight {
  color: $yellow-0 !important;
}

.icon {
  color: $white;
  &:hover {
    color: $yellow-0;
    cursor: pointer;
  }
}

h4,
.text-delta {
  letter-spacing: 0;
}

.nav-list .nav-list-item .nav-list-link {
  padding-right: 0;
  padding-left: 0;
  margin-right: 3rem;
  margin-left: 1.5rem;
}

.nav-list-item:not(.active) {
  display: flex;
  align-items: flex-start;
}

.nav-list-item.active > a {
  &:before {
    display: none;
  }
}

.nav-list-item a {
  position: relative !important;
  &:before {
    background-color: #ff0;
    bottom: 7.5px;
    content: '';
    height: 1px;
    left: 50%;
    position: absolute;
    right: 50%;
    transition: all 0.25s ease;
    width: 0;
  }
  &:hover:before {
    left: 0rem;
    right: 1rem;
    width: 100%;
  }
}
.nav-list-link.active {
  text-decoration: underline !important;
}

.site-button {
  color: $yellow-0;
  font-size: $font-size-4;
  &:hover {
    background-image: none;
  }
}
.search-input:focus + .search-label .search-icon {
  color: $yellow-0;
}
.site-header {
  border-bottom: 0;
}
.side-bar {
  border-right: 0;
  background-color: $grey-2;
  .site-title {
    color: $yellow-0;
    &:hover {
      background-image: none;
    }
  }
}

@media (min-width: 50rem) {
  .search-input-wrap {
    border: none;
  }
  .main {
    margin-left: 15.5rem;
  }
  .side-bar {
    width: 15.5rem;
  }
  .nav-list .nav-list-item .nav-list-link {
    padding-left: 0;
    margin-left: 2rem;
    padding-right: 0;
    margin-right: 2rem;
  }
}

@media (min-width: 66.5rem) {
  .main {
    margin-left: 16.5rem;
  }
}

.nav-list .nav-list-item .nav-list-link,
.nav-list .nav-list-item .nav-list-link:hover,
.nav-list .nav-list-item .nav-list-link.active {
  background-image: none;
}
.nav-list .nav-list-item > .nav-list .nav-list-item .nav-list-link {
  color: $white;
  &:hover,
  &.active {
    color: $yellow-0;
  }
}

.breadcrumb-nav-list-item {
  a {
    text-decoration: none;
    color: $yellow-0;
    &:hover {
      color: $yellow-0;
    }
  }
}

:focus-visible {
  outline: none !important;
}

.nav-list-item {
  &.active a {
    color: $yellow-0;
  }
  a {
    &:hover {
      color: $yellow-0;
    }
    color: $white;
  }
}

.nav-list .nav-list-item .nav-list-expander {
  color: white;
  &:hover {
    color: $yellow-0;
    background-image: none;
  }
}

.site-footer {
  color: $white;
  a {
    color: $yellow-0;
    text-decoration: none;
    &:hover,
    &.active {
      color: $yellow-0;
    }
  }
}
